@model LibraryProject.Models.BookListViewModel
<form method="get">
    <div>
        <label>Назва книжки: </label>
        <input asp-for="Name" />

        <input type="submit" value="Фільтр" />
    </div>
</form>